/* Furaffinity feed */
#frontpage .gallery figure {
	opacity: 0 !important;
	pointer-events: none !important;
	display: none !important;
}

#frontpage .gallery-section:nth-child(3),
#frontpage .gallery-section:nth-child(4),
#frontpage .gallery-section:nth-child(5) {
	display: none;
}

#messages-watches .section-body,
#messages-favorites .section-body {
	display: none;
}

.notification-container[href^='/msg/others/#watches'],
.notification-container[href^='/msg/others/#favorites'] {
	display: none !important;
}
